{% extends 'dashboard/base.html.twig' %}

{% block title %}Size Variants{% endblock %}

{% block body %}
    <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Size Variants</h1>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Size Variants listing
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Variant Name</th>
                                            <th>Added At</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if sizes %}
                                        {% for size in sizes %}
                                        <tr>
                                            <td>{{ size.size }}</td>
                                            <td>{{ size.createdAt|date }}</td>
                                            <td>Show</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
{% endblock %}
{% block footerJs %}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/admin/js/datatables-simple-demo.js') }}"></script>
    
{% endblock %}

